.text {
    color: black;
    font-size: 18px;
    font-family: Meiryo;
}

.warn{
    color:black;
    font-size:15px;
    font-family:Meiryo;
    position:relative;
    top:-15px;
}

.title {
    color: purple;
    font-size: 60px;
    font-family: 'Yu Mincho';
    font-style: italic;
    white-space: nowrap;
    background-image: url(img/平塚中等.jpg);
}

.menu {
    position: relative;
    top: 5px;
}

#strong01 {
    text-decoration: underline double red;
    color: orangered;
    font-size: 150%;
}

#big01 {
    font-size: 150%;
    font-weight: bold;
}

#admin{
    text-align:right;
    position:fixed;
    top:180px;
    right:20px;
}

body {
    background-color: wheat;
    overflow-x: hidden;
}
